body{
    margin: 0px;
    padding: 0px;
}
.one{
    font-size: 18px;
    font-weight: bold;
}
#two{
    font-size: 16px;
    font-weight: bold;
}
#containt{
    width: 1000px;
    height: 800px;
    margin-top: 80px;
    margin-left: 150px;
}
#left{
    width: 160px;
    height: 550px;
    float: left;
}
#top{
    background-color: #000000;
    width: 160px;
    height: 160px;
    margin-top: 0px;
}
#top1{
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    font-size: 16px;
}
#top2{
    margin-top:10px;
    padding-left: 20px;
    color: white;
    font-size: 25px;
    font-family: "黑体";
}
#top3{
    margin-top: 40px;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    font-family: "黑体";
}
.zhong{
    width: 150px;
    height: 186px;
    margin-top: 30px;
}
.zhong ul .li1{
    width: 158px;
    height: 28px;
    margin-left: -40px;
    border: 1px solid silver;
}
.zhong ul .li2{
    color: black;
    width: 158px;
    height: 29px;
    margin-left: -40px;
    border: 1px solid silver;
    border-top:0px;
}
.li11{
    width: 15px;
    padding-top: 5px;
    margin-left: 15px;
    float: left;
    color: black;
}
.li12{
    padding-top: 5px;
    margin-left: 0px;
    padding-left: 5px;
    font-size: 14px;
    width: 70px;
    color: black;
    font-weight: bold;
    float: left;
}
.li13{
    padding-top: 8px;
    margin-left: 0px;
    padding-left: 5px;
    font-size: 10px;
    color: #666666;
    width: 40px;
    float: left;
}
.li14{
    padding-top: 8px;
    margin-left: 0px;
    padding-left: 20px;
    font-size: 10px;
    color: #666666;
    width: 40px;
    float: left;
}
.li22{
    margin-left: 0px;
    margin-top: 3px;
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    float: left;
}
.li23{
    margin-left: 0px;
    margin-top: 5px;
    height: 28px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    float: left;
}
.li33{
    float: left;
    margin-top: 5px;
    margin-left: 0px;
    padding-left: 6px;
    color: black;
    font-weight: bold;
}
a{
    text-decoration: none;
}
#three{
    margin-top: 20px;
}
#four{
    margin-top: 10px;
}
ul{
    list-style:none;
}
.right{
    width: 427px;
    height: 500px;
    float:left;
    margin-left: 0px;
}
.right2{
    width: 200px;
    height: 500px;
    float:left;
    margin-left: 100px;
}
#right1top{
    width: 150px;
    height: 150px;
}
#right1top1{
    padding-top: 50px;
    padding-left: 0px;
}
#right1top2{
    margin-top: 5px;
    margin-left: 0px;
}
#rightzhong2{
    margin-top: 80px;
    height: 50px;
}
#rightzhong3{
    margin-top: 50px;
    width: 250px;
    height: 80px;
}
#rightzhong4{
    margin-top: 50px;
    width: 250px;
    height: 80px;
}
#rightzhong5{
    margin-top: 80px;
    height: 20px;
    width: 50px;
    float: right;
}
#pone{
    margin-top: -20px;
    color: #666666;
    font-size: 23px;
    font-weight: bold;
}
#ptwo{
    margin-top: -20px;
    color: #666666;
    font-size: 15px;
}
#pthree{
    margin-top: -15px;
    color: #666666;
}
#footer{
    border-top: 1.5px solid silver;
    border-bottom: 1.5px solid silver;
    margin-top: 0px;
    margin-left: 0px;
    width: 950px;
    height: 100px;
    float: left;
}
#footer #vv{
    margin-top: 43px;
    margin-left: 0px;
}
